@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 20px auto;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
  border-bottom: 1px dashed grey;
  color: darkslategray;
}

.btn {
  color: white;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
  background-color: darkgrey;
  cursor: pointer;
}

.green {
  background-color: lightgreen;
}
.green:hover {
  background-color: green;
}
.red {
  background-color: red;
}



.input-search input {
  width: 300px;
  padding: 8px;
  border-radius: 4px;
  border: 1px solid gray;
  outline: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  cursor: pointer;

}

.table th, 
.table td {
  border: 1px solid gray;
  padding: 8px;

} 

.table th {
  background-color: lightgrey;
} 

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}
.table tr:hover {
  background-color: #f2f2f2;
}